<?xml version="1.0"?>
<model>
  <name>Tilt-Hex</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Xiaofeng Guo</name>
   <email>xguo2@cmu.edu</email>
  </author>

  <description>
    Omnidirectional hexarotor with tilted rotors for 6-DOF control.
    Ported from Gazebo Classic hexa_scorpion model to Gazebo (Harmonic).
  </description>
</model>
